REACT_APP_SERVICE_ID=clients,users,clusters,audit,documentation
REACT_APP_BASE=/
REACT_APP_API_URL=http://localhost:8050/centops
REACT_APP_PUBLIC_URL=http://localhost:8058/centops
#REACT_APP_LOGIN_URL=https://admin.centops.test.buerokratt.ee/en/log-in
PORT=8057